.styledCardApp {
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}

.styledCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
  height: 40px;
}

.styledButton {
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 17px;
  width: 100%;
  height: 100%;
  background-color: inherit;
  display: block;
  cursor: pointer;
  color: #252525eb;
  border-bottom: 1px solid #ddd;
}
.delete_btn {
  color: red;
}
